{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>{{now}}</h1>
<input type="button" value="take a photo" id="takephoto">
<input type="button" value="view photo" id="getphoto"><br><br>
<input type="button" value="take photos" id="takephotos">
<input type="button" value="Login" id="login">
<!-- <img id='img' src="{% static '/images/test_result.jpg' %}" hidden="hidden" > -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
    
        $('#takephoto').click(function () {
            var url = "takephoto";
            
            $.getJSON(url,function(){
                alert('拍照成功')
            })
        })
        $('#getphoto').click(function(){
            var url = "getphoto";
            
            $.getJSON(url,function(){
                location.href='image'
            })
        })
        $('#takephotos').click(function () {
            var name;
            name=prompt("請輸入你的名字","")
            if(name){
                document.cookie = "name1="+name
                var url = "takephotos";
            
                $.getJSON(url,function(){
                    alert('註冊成功')
                })
            }else{
                return
            }
            
        })
        $('#login').click(function(){
            var url = "login";
            
            $.getJSON(url,function(data){ 
                alert('Hi  ' + data.name)
                document.cookie = "name="+data.name
                // location.href='/'
            })
            
        })

    })
</script>
{% endblock %}