{% extends 'base.html' %}
{% block content %}

<style>
    #slide {
  position: relative;
  max-width: 600px;
  margin:0px auto;
  background-image: url("../../../static/images/rec_bg.jpg")
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
  width:200px ;
  height:300px ;
  margin-left: 200px;
  margin-bottom: 20px;
}
img:first-child {
  position: static;
}
img.show {
  opacity: 1;
  visibility: visible;
}

.prev, .next {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 14px 12px;
}
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.24);
}
.prev:after, .next:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.prev {
  left: 0;
}
.prev:after {
  transform: rotate(-135deg);
  margin-left: 4px;
}

.next {
  right: 0;
}
.next:after {
  transform: rotate(45deg);
  margin-right: 4px;
}
</style>
<div style='text-align: center;font-size:24px;color:white'>
{%if request.COOKIES.name %}
<h2>推薦商品</h2>
<div id="slide">
        <img class="img" src="../../../static{{img1}}"/>
        <img class="img" src="../../../static{{img2}}"/>
        <img class="img" src="../../../static{{img3}}"/>
        <img class="img" src="../../../static{{img4}}"/>
    </div>
<script>
    var counter = 0, // 一開始要顯示的圖，0 的話就是顯示第一張
    slide = document.querySelector('#slide'),
    items = slide.querySelectorAll('img'), // 抓取所有 img
    itemsCount = items.length, // 圖片總數 
    prevBtn = document.createElement('a'), // 上一張按鈕
    nextBtn = document.createElement('a'), // 下一張按鈕
    timer = 4000, // 4 秒換圖
    interval = window.setInterval(showNext, timer);  // 設定循環

prevBtn.classList.add('prev'); // 幫上一張按鈕加 class＝"prev" 給 CSS 指定樣式用
nextBtn.classList.add('next'); // 幫下一張按鈕加 class＝"next" 給 CSS 指定樣式用
slide.appendChild(prevBtn); // 將按鈕加到 #slide 裡
slide.appendChild(nextBtn);

// 帶入目前要顯示第幾張圖 
var showCurrent = function(){
    var itemToShow = Math.abs(counter % itemsCount); // 取餘數才能無限循環
    [].forEach.call( items, function(el){
        el.classList.remove('show'); // 將所有 img 的 class="show" 移除
    });
    items[itemToShow].classList.add('show'); // 將要顯示的 img 加入 class="show"
};

function showNext(){
    counter++; // 將 counter+1 指定下一張圖
    showCurrent();
}

function showPrev(){
    counter--; // 將 counter－1 指定上一張圖
    showCurrent();
}

// 滑鼠移到 #slider 上方時，停止循環計時
slide.addEventListener('mouseover', function(){
    interval = clearInterval(interval);
});

// 滑鼠離開 #slider 時，重新開始循環計時
slide.addEventListener('mouseout', function(){
    interval = window.setInterval(showNext, timer);
});

// 綁定點擊上一張，下一張按鈕的事件
nextBtn.addEventListener('click', showNext, false);
prevBtn.addEventListener('click', showPrev, false);

// 一開始秀出第一張圖，也可以在 HTML 的第一個 img 裡加上 class="show"
items[0].classList.add('show');
</script>

<button id="takephotos" type="button" class="btn btn-primary btn-lg" style='left:30%;font-size:24px;color:white'>頭像註冊</button>
<!-- <button type="button" class="btn btn-primary btn-lg" style='left:34%;'><a href="{% url 'photo:takephotos' %}" style='font-size:24px;color:white'>頭像註冊 </a></button> -->
<button type="button" class="btn btn-primary btn-lg" style='left:34%;'><a href="{% url 'member:logout' %}" style='font-size:24px;color:white'>登出 </a></button>
<button type="button" class="btn btn-primary btn-lg" style='left:37%;'><a href="{% url 'member:update' member.id %}" style='font-size:24px;color:white'>資料修改</a></button>
<button type="button" class="btn btn-primary btn-lg" style='left:38%;'><a href="{% url 'products:index' %}" style='font-size:24px;color:white'>購物明細 </a></button>
<button type="button" class="btn btn-primary btn-lg" style="left:100px"><a href="{% url 'products:check' %}" style='font-size:24px;color:white'>結帳 </a></button>
<button type="button" class="btn btn-primary btn-lg" style="left:100px"><a href="{% url 'products:detection' %}" style='font-size:24px;color:white'>貨架偵測 </a></button>

<!-- {%else%}
<button type="button" class="btn btn-primary btn-lg" style='position:relative;left:36%;'><a href="{% url 'member:login' %}"style='font-size:24px;color:white'>傳統登入 </a></button>
<button type="button" class="btn btn-primary btn-lg" style='position:relative;left:37%;'><a href="{% url 'member:create' %}"style='font-size:24px;color:white'>會員註冊 </a></button> -->
</div>
{%endif%}
{% endblock %}





<!-- <button type="button" class="btn btn-primary btn-lg"><a href="{% url 'member:create' %}">會員註冊</a></button>
<button type="button" class="btn btn-primary btn-lg"><a href="{% url 'member:update' %}">資料修改</a></button>
<button type="button" class="btn btn-primary btn-lg"><a href="#">購物清單</a></button> -->